<div mat-dialog-title>
    <h2>Employee Form</h2>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>EmployeeID</mat-label>
        <input matInput type="text" matInput placeholder="id" formControlName="id" [readonly]="true"> 
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
        <input matInput type="text" matInput placeholder="Name" formControlName="Name"[required]="true"> 
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Position</mat-label>
            <mat-select formControlName="position">
                <mat-option *ngFor="let val of position" [value]="val">
                        {{val}}
                </mat-option>  
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" >{{data? 'Update':'Save'}}</button>
</div>
</form>